* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.app_left {
  flex: 0.9;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.dropdown {
  background-color: white;
}

.flag {
  height: 13px;
  width: 17px
}

.stats_container {
  display: flex;
  justify-content: space-evenly;
}

.statBox {
  height: 110px;
}

.statBox_title {
  height: 14px;
}

.app_info > h3 {
  color:#6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app_info > h3:last-of-type {
  margin-top: 1 rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}